.section__home {
  min-height: var(--heigth);
}
.home__bander {
  background-image: url("../../assets/img/bander.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}
.bander__content {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
}
.section__title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  color: #fbf5f1;
  margin-top: 80px;
  text-shadow: 0 0 3px #262626;
}

.home__content__tilte {
}
.home__content__tilte h1 {
  font-weight: bolder;
}

button.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
}

button.learn-more .btn-circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .btn-circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .btn-circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .btn-circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .btn-circle {
  width: 100%;
}

button:hover .btn-circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.card__img {
  overflow: hidden;
}

.card__img img {
  transform: scale(1);
  transition: all 1s ease-in-out;
}

.card__ui:hover img {
  transform: scale(2);
}

.card-text {
  white-space: nowrap; /* ngăn không cho nội dung xuống dòng */
  overflow: hidden; /* ngăn không cho nội dung tràn ra khỏi phần tử */
  text-overflow: ellipsis; /* hiển thị dấu "..." khi nội dung vượt quá kích thước của phần tử */
  height: 50px; /* giới hạn chiều rộng của phần tử */
}
